@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Fonts ->
$base-font-family: 'Poppins', sans-serif;
$base-font-Spectral: "Spectral SC", serif;

// Colors ->
$base-second-dark-color: #252a33;
$base-primary-color-black: #000000;
$base-primary-color-white: #ffffff;
$base-second-color-dark-bege: #FCAE60;


// Media Query Breakpoints
$breakpoint-small : 600px;
$breakpoint-medium : 768px;
$breakpoint-laptop : 992px;
$breakpoint-desktop : 1200px;